.proj_management_panel_bold {
    font-weight: bold;
    border-radius: 4px;
    border: 2px solid #79d;
    padding: 10px;
    display: inline-block;
    margin-bottom: 12px;
}

.project_tab,.project_tab_active {
    line-height: 34px;
    padding: 8px 12px 3px 12px;
    }

.project_tab {
    border-bottom: 1px solid #ddd;
}

.command_link {
	text-decoration: none !important;
}

.command_link:hover {
	color: #006AAA !important;
}

.project_tab_active {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-weight: bold;
}